# Node backend ignores
backend/node_modules/
backend/.env
backend/package-lock.json

# Frontend Vite React ignores
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/package-lock.json

# macOS system files (if you're on a Mac)
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: IDE/editor files
.vscode/
.idea/
*.swp

# OS trash
Thumbs.db
Desktop.ini

./Backend/data/days.json
./Backend/data/data.json
